/*main :first-child{
    color: red;
}
*/
a:link{
    color: palevioletred;
}
a:hover{
    background-color: brown;
    color: black
    ;
}
p:hover{
    background-color: aqua;
    color: yellow;
}
a:active{
    font-size: xx-large;
}
input:focus{
    background-color: yellow;
}
cite:lang(es){
color: yellow;
}
cite:lang(en){
    color: blue;
}