body {
    background-color: lightgray;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
p {
    background-color: rgb(168, 166, 166);
}
h2 {
    background-color: grey;
    text-decoration: underline;
}
h3 {
    background-color: grey;
    font-size: small
}
em {
    color: white;
    font-style: normal;
}
strong {
    color: white;
    font-weight: normal;
}
address {
    text-align: right;
    background-color: white;
    font-weight: bold;
}