body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: rgb(230, 216, 23);
}
dt{
    color: rgb(65, 119, 119);
    font-weight: 300;
    border-width: medium;
    border-color: crimson;
    border-style: groove;
    width: 90px;
    text-align: center;
}
dd{
    color: white;
}
ol{
    list-style: upper-roman;
}